---
---

@import "{{ site.theme }}";

header {
  //padding: 25px 20px 40px 20px;
  padding: 0px 20px 20px 20px;
  //min-height: 76px;
}

#banner {
   //right: 50%;
  //top: 115px;
  top: 75px;
}

section {
  //width:590px;
  //margin-top: 190px;
  margin-top: 135px;
}

nav {
  //width: 230px;
  //left:50%;
  //top: 220px;
  top: 165px;
}

header h1 {
   font: 32px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header p { 
   font-size: 22px; 
}

#ctulogo {
   position: absolute; 
   height: 36px; 
   width: 36px;
   right: 7px; 
   top: 7px; 
   display: block;
   opacity: 0.7;
}

