---
---


@import "{{ site.theme }}";

header h1 {
   font: 32px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header p { 
   font-size: 22px; 
}

#ctulogo {
   position: absolute; 
   height: 36px; 
   width: 36px;
   right: 7px; 
   top: 7px; 
   display: block;
   opacity: 0.7;
}

